/* Estilos gerais */
body {
    background-color: #121212; /* Fundo escuro para o tema dark */
    color: #E0E0E0; /* Texto claro para contraste */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1E88E5; /* Cor de fundo do header */
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Garante que o header fique acima dos outros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para destacar */
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label, input {
    margin: 10px;
    color: #E0E0E0;
}

input[type="text"] {
    background-color: #333; /* Fundo escuro para os inputs */
    color: #E0E0E0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

/* Estilos para os botões do jogo */
.btn_jogo {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #757575; /* Fundo cinza */
    color: #E0E0E0;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

.btn_jogo:hover {
    background-color: #9E9E9E; /* Cor de fundo ao passar o mouse */
}

#btn_jogar {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #1E88E5; /* Cor de fundo azul para o botão Jogar */
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn_jogar:hover {
    background-color: #1565C0; /* Cor de fundo ao passar o mouse no botão Jogar */
}

.class_vencedor {
    margin-top: 20px;
}

#input_vencedor {
    background-color: #333;
    color: #E0E0E0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}
